
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>Online Login Form Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>

    <!-- main -->
    <div class="center-container">
        <!--header-->
        <div class="header-w3l">
            <h1>Welcome to Bank of Fiji!</h1>
        </div>
        <!--//header-->

        @if (TempData["Error"] != null)
        {
            <div class="callout callout-danger">
                <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
            </div>
        }

        <div class="main-content-agile">
            <div class="sub-main-w3">
                <div class="wthree-pro">
                    <h2>Login</h2>
                </div>

                @using (Html.BeginForm("Login", "Account"))
                {
                    <div class="pom-agile">
                        <input placeholder="Username" name="username" class="username" type="text" required="">
                    </div>
                    <div class="pom-agile">
                        <input placeholder="Password" name="Password" class="pass" type="password" required="">
                    </div>
                    <div class="sub-w3l">
                        <div class="right-w3l">
                            <input type="submit" value="Login">
                        </div>
                    </div>

                }
            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer">
            <p>&copy; 2017 Bank of Fiji. All rights reserved</p>
        </div>
        <!--//footer-->
    </div>
</body>

</html>

