
@{
    ViewBag.Title = "TransferInvalid";
}

<h2>TransferInvalid</h2>

<div class="callout callout-danger">
    <p><strong>Error:</strong> You cannot use this feature because you have only one registered account</p>
</div>